.custom-green-text {
    color: green;
}

.custom-red-text {
    color: red;
}

.dark-theme {
    background-color: #333;
    color: #fff;
  }
  
  .dark-theme .nav-link {
    color: #ffffff;
  }
  
  .dark-theme .nav-link.active {
    background-color: #d5ffde7a;
  }
  