.tasks-list-group {
    background-color: #EEEEEE;
    color: #00ADB5
}

.add-task-button {
    background-color: #393E46;
    color: #EEEEEE
}

.add-task-button:hover {
    background-color: #EEEEEE;
    color: #00ADB5
}