<app-tabs (tabSelected)="onTabSelected($event)" (addNewTaskType)="switchAddNewTaskTypeMode()" ></app-tabs>


<div class="card" *ngIf="!addNewTaskTypeMode">
    <ul class="list-group list-group-flush" *ngFor="let task of filteredTasks">
        <li class="list-group-item">
            <h1>{{task.name}}</h1>
            <h6>{{task.taskType.name}}</h6>
        </li>
    </ul>
</div>

<app-task-type-form *ngIf="addNewTaskTypeMode"  (addNewTaskType)="onAddNewTaskType()"></app-task-type-form>  <!-- Routing is a better approach  -->